<div class="row">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      </h1>
    </section>
    <% if @user.events.any? %>
      <h3>Created Events (<%= @user.events.count %>)</h3>
      <ol class="microposts">
        <%= render @events %>
      </ol>
    <% end %>
</div>